/* Base Colors */
$white: #FFFFFF;
$grandis: #FACB6B;
$shuttleGray:#606264;
$ebonyClay:#333538;
$blackPearl:#1C1F22;
$atomic:#494C4E;
$regentGray:#77797A;
$persianRed:#D73828;
$solutide:#F2F4F7;
$chileanFire:#E55929;
$ghost:#D2D2D3;

